<div class="container">
    <div class="well">
        <div class="page-wrapper">

            <div class="page-header">
                <h1><a ui-sref="home"><img class="logo-img" src="images/logo.png" /></a> Register</h1>
            </div>

            <fieldset>

                <form ng-submit="authCtrl.register()" class="form-horizontal">
                    <div class="input-group form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email" required>
                    </div>
                    <div class="input-group form-group">
                        <label for="email" class="col-md-2 control-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password" required>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="pull-right">

                                <button class="btn btn-primary btn-lg" type="submit">Register</button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="authCtrl.error">
                        <span>{{authCtrl.error.message}}</span>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div class="form-group">



</div>
